#divStyle{
  font-weight : bold;
  float: left;

}
#divStyle1{
  font-weight : bold;
  float: left;
}
#Topics{
  font-weight : bold;

  font-size: xx-large;

}
#btn_white{
  font-weight : bold;

}
.div1 {
  overflow-y: auto;
  overflow-x: hidden;
}
#div11 {
  overflow-y: auto;
  overflow-x: hidden;}