#div1{
  align-items:flex-start;
}
#shop{
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  font-size: 2.5vmin;
  color: darkgray
}
#div2{
  text-align: center;
  font-weight:bold;

}
.vl {
  border-left: 6px solid gray;
  height: 20px;
}

#btn_see{
  text-decoration: underline;
  font-family: var(--ABeeZee);
  font-weight: bold;
  text-align: left;

}
#collection{
  font-weight: bold;
  color: darkgray;
  font-size: x-small;

}
#HangLamp{
  font-weight: bold;
  font-size: 2vmin;
  font-family: "Gill Sans", sans-serif;

}