#rightitems{
  font-weight : bold;
}
#modal{
  display: block;
  max-height: 1200px;
  min-width: 1200px;
  padding-left: 0px;
  width: 10000px;
  height: 10000px;
}
#btn_white{
  text-decoration: underline;
}
.div1 {
  overflow-y: auto;
  overflow-x: hidden;
}
#pageList{
  overflow-y: auto;
  overflow-x: hidden;

}